SKIP_PREFLIGHT_CHECK=true
REACT_APP_BASENAME= ""
REACT_APP_API_URL_TAMS_TAILIEU = "http://10.8.0.11:3000"
REACT_APP_API_URL_TAMS_TRICHDAN = "http://10.8.0.11:3001"
REACT_APP_URL_TAMS = "http://localhost:3001"
REACT_APP_API_URL_PQ = "http://dev.hvlq.info:3000/"