@import '../../base/pages/authentication.scss';

.auth-wrapper .auth-footer-btn .btn {
  padding: 0.555rem 0.6rem !important;
}

.customNavLink {
  border: 1px solid #09A863!important;
  border-radius: 10px!important;
  margin-right: 10px!important;
  width: 150px!important;
  height: 150px!important;
}

/* styles.css */
.customNavLink {
	display: inline-block;
	padding: 0;
	background-color: transparent;
	transition: background-color 0.3s, transform 0.3s;
	position: relative;
  }
  
  .customNavLink:hover {
	background-color: #f0f0f0; /* Màu xám */
  }
  
  .customNavLink:hover .text-center {
	transform: translateY(-10px); /* Di chuyển lên 10px */
  }
  
.form-label {
  font-size: 1rem !important;
}
